@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema web - Biblioteca Ulacit </h1>
    <p class="lead"> Integracion de sistema de consultas, recuperacion y solicitud de libros</p>
    <p><a href="https://bb9.ulacit.ac.cr/" class="btn btn-primary btn-lg">Iniciar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consultar Libros</h2>
        <p>
            Añadir/Editar/Eliminar Libros
        </p>
        <p><a class="btn btn-default" href="http://localhost:53651/Libros">Acceder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Solicitar Libro</h2>
        <p>En Desarrollo</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Acceder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recuperar Libro</h2>
        <p>En Desarrollo</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Acceder &raquo;</a></p>
    </div>
</div>