@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Biblioteca Virtual - Ulacit </h1>
    <p class="lead"> Integracion de sistema de consultas, recuperacion y solicitud de libros</p>
    <p><a href="https://bb9.ulacit.ac.cr/" class="btn btn-primary btn-lg">BlackBoard &raquo;</a></p>
    <a href="http://www.ulacit.ac.cr/">
        <div style="float: right; width: 110%; text-align: center;">
            <img src="~/Content/images/Logo-Ulacit.jpg" height="170px" width="450px"


            <a href="/Home/Index">
            </a>


        </div>


        <div class="row">
            <div class="col-md-4">
                <div style="float: left; width: 90%; text-align: left;">
                    <h2>Consultar Libros</h2>
                </div>
                <div style="float: left; width: 110%; text-align: left;">
                    <img src="~/Content/images/900466.png" style="margin: 0 initial; width: 50%;" />
                </div>
                <div style="float: left; width: 90%; text-align: left;">
                    <p>

                    </p>
                </div>
                <div style="float: left; width: 90%; text-align: left;">
                    <p><a class="btn btn-default" href="http://localhost:53651/Libros">Acceder &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div style="float: right; width: 110%; text-align: center;">
                    <h2>Solicitud de Libro</h2>
                </div>
                <div style="float: right; width: 110%; text-align: center;">
                    <img src="~/Content/images/b634f67701f7d7b04b39f31511444f7d.png" style="margin: 0 auto; width: 48%;" />
                </div>
                <div style="float: right; width: 110%; text-align: center;">
                    <p></p>
                </div>
                <div style="float: right; width: 110%; text-align: center;">
                    <p><a class="btn btn-default " href="http://localhost:53651/Retiro">Acceder &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div style="float: right; width: 80%; text-align: right;">
                    <h2>Recepcion de Libro</h2>
                </div>
                <div style="float: right; width :110%; text-align: right;">
                    <img src="~/Content/images/1173726.png" style="margin: 0 auto; width: 50%;" />
                </div>
                <div style="float: right; width: 110%; text-align: right;">
                    <p>

                    </p>
                </div>
                <div style="float: right; width: 80%; text-align: center;">
                    <p><a class="btn btn-default" href="http://localhost:53651/Solicitud">Acceder &raquo;</a></p>
                </div>
            </div>

        </div>
</div>